[core]
    excludesfile = ~/.gitignore_global
    editor = nvim

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    df = diff
    lg = log --oneline --graph --decorate
    b = branch
  psoh = push origin HEAD
[user]
	name = onigiri.w2
	email = onigiri.w2@gmail.com
